* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #494949;
  margin: 0;
  padding: 0;
}

.login,
.index {
  margin: 100px auto;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

.login button,
.index button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  background: #4CAF50;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.login button:hover,
.index button:hover {
  background-color: #45a049;
}

.login button:disabled,
.index button:disabled {
  background-color: #2e2e2e;
  color: #666;
}

.login h1,
.index h1 {
  text-align: center;
  margin-bottom: 2.5%;
}

.login input,
.index input,
.login select,
.index select,
.form-row {
  background-color: white;
  color: black;
  outline: 0;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  border: 2px solid #2f2f30;
  /* Decrease minimum width for input elements */
  min-width: 30px;
  /* Remove fixed minimum width */
  width: auto;
  /* Adjust width automatically based on content */
  margin-top: 2.5%;
  margin-bottom: 5%;
  font-size: 16px;
}

.login input:focus,
.index input:focus,
.login select:focus,
.index select:focus,
.form-row input:focus {
  border: 2px solid #3a3d41;
}

.login label,
.index label {
  font-size: 18px;
  display: block;
  margin-bottom: 0;
}

.form-column label {
  display: block;
  text-align: center;
  /* Center the label text */
  margin-bottom: 5px;
  /* Adjust spacing between label and input field */
}

.form-row {
  margin-bottom: 20px;
}

.form-column input {
  border-radius: 15px;
}

.form-row h2 {
  margin-block-end: 0.7em;
}

.form-columns {
  display: flex;
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line */
  margin-bottom: -10px;
  /* Adjust for negative margin added by form-column */
}

.form-column {
  flex: 0 0 auto;
  /* Prevent columns from stretching to fill the remaining space */
  margin-right: 10px;
  /* Adjust spacing between columns */
  margin-bottom: 10px;
  /* Adjust spacing between rows */
}

.form-column:last-child {
  margin-right: 0;
}